<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    <span>Select an image to classify </span>

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>

    <div class="file-preview" *ngIf="imageURL && imageURL !== ''">
        <img [src]="imageURL" [alt]="fileName" id="preview" #preview>
        <p *ngIf="!!category">The item<span *ngIf="fileName"><i> {{fileName}}</i></span> has been classified as <b>{{category}}</b></p>
    </div>
</div>